<style media="screen">
  li {
    background-color: wheat;
    margin-bottom: 10px;
    padding: 10px;
    width: 50%;
    font-family: sans-serif;
  }
</style>

<h1>I SCREAMMMMM!</h1>

<ul>
{{#each deserts }}
  <li>{{name}}</li>
{{/each}}
</ul>