p {
    font-family: lucida 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.P-1{
    font-weight: bolder:
}

.P-2 {
    font-size: 24px;
}

.P-3 {
    line-height: 50px;
}